body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:701px;
}
#u23250 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:701px;
}
#u23251 {
  position:absolute;
  left:2px;
  top:342px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23252 {
  position:absolute;
  left:489px;
  top:578px;
  width:81px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
