body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:473px;
}
#u17922 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:473px;
}
#u17923 {
  position:absolute;
  left:2px;
  top:228px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u17925 {
  position:absolute;
  left:788px;
  top:251px;
  width:28px;
  height:28px;
}
#u17926 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17927 {
  position:absolute;
  left:795px;
  top:257px;
  width:15px;
  height:15px;
}
#u17928 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
