body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:695px;
}
#u5484 {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:695px;
}
#u5485 {
  position:absolute;
  left:2px;
  top:340px;
  width:1422px;
  visibility:hidden;
  word-wrap:break-word;
}
