body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:674px;
}
#u24123 {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:674px;
}
#u24124 {
  position:absolute;
  left:2px;
  top:329px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u24125 {
  position:absolute;
  left:1108px;
  top:373px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u24126 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24127 {
  position:absolute;
  left:1097px;
  top:362px;
  width:85px;
  height:37px;
}
#u24128 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24129 {
  position:absolute;
  left:131px;
  top:451px;
  width:1156px;
  height:223px;
}
#u24130 {
  position:absolute;
  left:2px;
  top:104px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u24131 {
  position:absolute;
  left:1108px;
  top:418px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u24132 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
