body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24226 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
}
#u24227 {
  position:absolute;
  left:2px;
  top:505px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24228 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u24229 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:938px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24230 {
  position:absolute;
  left:140px;
  top:69px;
  width:1160px;
  height:938px;
}
#u24231 {
  position:absolute;
  left:2px;
  top:461px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u24232 {
  position:absolute;
  left:545px;
  top:934px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24232_img.mouseDown {
}
#u24232.mouseDown {
}
#u24233 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  word-wrap:break-word;
}
#u24234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24235 {
  position:absolute;
  left:432px;
  top:119px;
  width:576px;
  height:782px;
}
#u24236 {
  position:absolute;
  left:2px;
  top:383px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24237 {
  position:absolute;
  left:592px;
  top:180px;
  width:257px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24238 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u24239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:21px;
}
#u24239 {
  position:absolute;
  left:567px;
  top:223px;
  width:307px;
  height:21px;
}
#u24240 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u24241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u24241 {
  position:absolute;
  left:520px;
  top:295px;
  width:127px;
  height:280px;
  line-height:20px;
}
#u24242 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u24243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u24243 {
  position:absolute;
  left:648px;
  top:295px;
  width:283px;
  height:300px;
  line-height:20px;
}
#u24244 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u24245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:103px;
}
#u24245 {
  position:absolute;
  left:520px;
  top:643px;
  width:401px;
  height:103px;
}
#u24246 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u24247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24247 {
  position:absolute;
  left:520px;
  top:619px;
  width:43px;
  height:14px;
}
#u24248 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u24249 {
  position:absolute;
  left:813px;
  top:808px;
  width:145px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u24250 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u24251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u24251 {
  position:absolute;
  left:822px;
  top:766px;
  width:114px;
  height:114px;
}
#u24252 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u24253 {
  position:absolute;
  left:736px;
  top:934px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u24253_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u24253.mouseDown {
}
#u24254 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  word-wrap:break-word;
}
#u24255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24255 {
  position:absolute;
  left:520px;
  top:297px;
  width:416px;
  height:35px;
}
#u24256 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24257 {
  position:absolute;
  left:520px;
  top:337px;
  width:416px;
  height:35px;
}
#u24258 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24259 {
  position:absolute;
  left:520px;
  top:376px;
  width:416px;
  height:35px;
}
#u24260 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24261 {
  position:absolute;
  left:520px;
  top:416px;
  width:416px;
  height:35px;
}
#u24262 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24263 {
  position:absolute;
  left:520px;
  top:456px;
  width:416px;
  height:35px;
}
#u24264 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24265 {
  position:absolute;
  left:520px;
  top:498px;
  width:416px;
  height:35px;
}
#u24266 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24267 {
  position:absolute;
  left:520px;
  top:538px;
  width:416px;
  height:35px;
}
#u24268 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:956px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24269 {
  position:absolute;
  left:0px;
  top:70px;
  width:1440px;
  height:956px;
}
#u24270 {
  position:absolute;
  left:2px;
  top:470px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24271 {
  position:absolute;
  left:668px;
  top:501px;
  width:106px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24272 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u24273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u24273 {
  position:absolute;
  left:691px;
  top:426px;
  width:60px;
  height:60px;
}
#u24274 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24275 {
  position:absolute;
  left:1136px;
  top:619px;
  width:199px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24276 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u24277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u24277 {
  position:absolute;
  left:1156px;
  top:722px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24277_img.mouseDown {
}
#u24277.mouseDown {
}
#u24278 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  word-wrap:break-word;
}
#u24279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u24279 {
  position:absolute;
  left:1136px;
  top:648px;
  width:225px;
  height:42px;
  color:#666666;
}
#u24280 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u24281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24281 {
  position:absolute;
  left:1699px;
  top:306px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24282 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u24283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24283 {
  position:absolute;
  left:1537px;
  top:213px;
  width:199px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24284 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u24285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24285 {
  position:absolute;
  left:1699px;
  top:444px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24286 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u24287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24287 {
  position:absolute;
  left:1504px;
  top:444px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24288 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24289 {
  position:absolute;
  left:1699px;
  top:590px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24290 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24291 {
  position:absolute;
  left:1749px;
  top:366px;
  width:0px;
  height:0px;
}
#u24291_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u24291_seg1 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:21px;
}
#u24292 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24293 {
  position:absolute;
  left:1504px;
  top:474px;
  width:0px;
  height:0px;
}
#u24293_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u24293_seg1 {
  position:absolute;
  left:-18px;
  top:-142px;
  width:8px;
  height:146px;
}
#u24293_seg2 {
  position:absolute;
  left:-18px;
  top:-142px;
  width:213px;
  height:8px;
}
#u24293_seg3 {
  position:absolute;
  left:181px;
  top:-148px;
  width:21px;
  height:20px;
}
#u24294 {
  position:absolute;
  left:-36px;
  top:-144px;
  width:100px;
  word-wrap:break-word;
}
#u24295 {
  position:absolute;
  left:1699px;
  top:474px;
  width:0px;
  height:0px;
}
#u24295_seg0 {
  position:absolute;
  left:-95px;
  top:-4px;
  width:99px;
  height:8px;
}
#u24295_seg1 {
  position:absolute;
  left:-102px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24296 {
  position:absolute;
  left:-98px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24297 {
  position:absolute;
  left:1749px;
  top:366px;
  width:0px;
  height:0px;
}
#u24297_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u24297_seg1 {
  position:absolute;
  left:-199px;
  top:31px;
  width:203px;
  height:8px;
}
#u24297_seg2 {
  position:absolute;
  left:-199px;
  top:31px;
  width:8px;
  height:47px;
}
#u24297_seg3 {
  position:absolute;
  left:-205px;
  top:64px;
  width:20px;
  height:21px;
}
#u24298 {
  position:absolute;
  left:-152px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u24299 {
  position:absolute;
  left:1749px;
  top:504px;
  width:0px;
  height:0px;
}
#u24299_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u24299_seg1 {
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:21px;
}
#u24300 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24301 {
  position:absolute;
  left:1519px;
  top:133px;
  width:251px;
  height:32px;
}
#u24302 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u24303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24303 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24304 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24305 {
  position:absolute;
  left:1835px;
  top:444px;
  width:314px;
  height:44px;
}
#u24306 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
