body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:555px;
}
#u17949 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:555px;
}
#u17950 {
  position:absolute;
  left:2px;
  top:270px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u17952 {
  position:absolute;
  left:761px;
  top:153px;
  width:28px;
  height:28px;
}
#u17953 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17954 {
  position:absolute;
  left:767px;
  top:159px;
  width:15px;
  height:15px;
}
#u17955 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
