body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:713px;
}
#u13570 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:713px;
}
#u13571 {
  position:absolute;
  left:2px;
  top:348px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13572 {
  position:absolute;
  left:860px;
  top:294px;
  width:200px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
