body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22105 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u22106 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
}
#u22107 {
  position:absolute;
  left:695px;
  top:555px;
  width:203px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22107_img.mouseDown {
}
#u22107.mouseDown {
}
#u22108 {
  position:absolute;
  left:2px;
  top:13px;
  width:199px;
  word-wrap:break-word;
}
#u22109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u22109 {
  position:absolute;
  left:486px;
  top:223px;
  width:469px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u22110 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u22111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u22111 {
  position:absolute;
  left:486px;
  top:393px;
  width:276px;
  height:54px;
  line-height:18px;
}
#u22112 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u22113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u22113 {
  position:absolute;
  left:539px;
  top:282px;
  width:89px;
  height:89px;
}
#u22114 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u22115 {
  position:absolute;
  left:657px;
  top:304px;
  width:67px;
  height:20px;
  color:#7E8E9D;
}
#u22116 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u22117 {
  position:absolute;
  left:657px;
  top:334px;
  width:67px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#7E8E9D;
}
#u22118 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:88px;
}
#u22119 {
  position:absolute;
  left:743px;
  top:282px;
  width:212px;
  height:88px;
}
#u22120 {
  position:absolute;
  left:2px;
  top:36px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22122 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22123 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22124 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22125 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22126 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22127 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22128 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22129 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22130 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22131 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22133 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u22134 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22135 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22136 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22137 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u22138 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22140 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22141 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22142 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u22143 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u22144 {
  position:absolute;
  left:569px;
  top:555px;
  width:116px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u22144_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u22144.mouseDown {
}
#u22145 {
  position:absolute;
  left:2px;
  top:13px;
  width:112px;
  word-wrap:break-word;
}
