body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:688px;
}
#u24812 {
  position:absolute;
  left:0px;
  top:0px;
  width:1433px;
  height:688px;
}
#u24813 {
  position:absolute;
  left:2px;
  top:336px;
  width:1429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24814 {
  position:absolute;
  left:576px;
  top:509px;
  width:126px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
