body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:695px;
}
#u21674 {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:695px;
}
#u21675 {
  position:absolute;
  left:2px;
  top:340px;
  width:1422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u21676 {
  position:absolute;
  left:1479px;
  top:267px;
  width:300px;
  height:30px;
}
#u21677 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
