body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23857 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
}
#u23858 {
  position:absolute;
  left:2px;
  top:505px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:597px;
}
#u23859 {
  position:absolute;
  left:120px;
  top:80px;
  width:1201px;
  height:597px;
}
#u23860 {
  position:absolute;
  left:2px;
  top:290px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
