body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21315 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1026px;
}
#u21316 {
  position:absolute;
  left:2px;
  top:505px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21317 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u21318 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u21320 {
  position:absolute;
  left:40px;
  top:15px;
  width:44px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21321 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21322 {
  position:absolute;
  left:71px;
  top:26px;
  width:37px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21323 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:938px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21324 {
  position:absolute;
  left:140px;
  top:69px;
  width:1160px;
  height:938px;
}
#u21325 {
  position:absolute;
  left:2px;
  top:461px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21326 {
  position:absolute;
  left:269px;
  top:221px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21327 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21328 {
  position:absolute;
  left:682px;
  top:136px;
  width:81px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21329 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u21332 {
  position:absolute;
  left:269px;
  top:332px;
  width:903px;
  height:163px;
  font-size:20px;
}
#u21333 {
  position:absolute;
  left:2px;
  top:74px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u21334 {
  position:absolute;
  left:304px;
  top:349px;
  width:826px;
  height:130px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u21335 {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21336 {
  position:absolute;
  left:294px;
  top:342px;
  width:852px;
  height:144px;
}
#u21336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:144px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21337 {
  position:absolute;
  left:1025px;
  top:464px;
  width:37px;
  height:16px;
}
#u21338 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21339 {
  position:absolute;
  left:269px;
  top:536px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21340 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u21341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u21342 {
  position:absolute;
  left:269px;
  top:572px;
  width:300px;
  height:120px;
}
#u21343 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21344 {
  position:absolute;
  left:296px;
  top:600px;
  width:102px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21345 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u21346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21346 {
  position:absolute;
  left:515px;
  top:662px;
  width:29px;
  height:14px;
}
#u21347 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21349 {
  position:absolute;
  left:434px;
  top:533px;
  width:22px;
  height:22px;
}
#u21350 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:45px;
}
#u21351 {
  position:absolute;
  left:409px;
  top:555px;
  width:179px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u21352 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u21353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21353 {
  position:absolute;
  left:269px;
  top:303px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21354 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21355 {
  position:absolute;
  left:369px;
  top:218px;
  width:76px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21356 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u21357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21357 {
  position:absolute;
  left:1480px;
  top:561px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u21358 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u21359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21360 {
  position:absolute;
  left:1645px;
  top:558px;
  width:22px;
  height:22px;
}
#u21361 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:45px;
}
#u21362 {
  position:absolute;
  left:1620px;
  top:580px;
  width:179px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u21363 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u21364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21364 {
  position:absolute;
  left:1704px;
  top:562px;
  width:43px;
  height:14px;
  color:#FF0000;
}
#u21365 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
