body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:738px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23192 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:738px;
}
#u23193 {
  position:absolute;
  left:2px;
  top:361px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23194 {
  position:absolute;
  left:370px;
  top:206px;
  width:700px;
  height:474px;
}
#u23195 {
  position:absolute;
  left:2px;
  top:229px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u23196 {
  position:absolute;
  left:638px;
  top:585px;
  width:165px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23196_img.mouseDown {
}
#u23196.mouseDown {
}
#u23197 {
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u23198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u23198 {
  position:absolute;
  left:486px;
  top:242px;
  width:559px;
  height:20px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u23199 {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  white-space:nowrap;
}
#u23200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u23201 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23202 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u23203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u23203 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23204 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u23205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u23205 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23206 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u23207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u23207 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23208 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u23209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u23209 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23210 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u23212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23212 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u23213 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u23214 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u23215 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23216 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u23217 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23219 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23220 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u23221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23221 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u23222 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23223 {
  position:absolute;
  left:1503px;
  top:213px;
  width:365px;
  height:14px;
}
#u23224 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u23225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u23226 {
  position:absolute;
  left:486px;
  top:293px;
  width:209px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u23227 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u23228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
}
#u23228 {
  position:absolute;
  left:486px;
  top:323px;
  width:231px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
}
#u23229 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u23230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u23230 {
  position:absolute;
  left:623px;
  top:323px;
  width:55px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u23230_img.mouseDown {
}
#u23230.mouseDown {
}
#u23231 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u23232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u23232 {
  position:absolute;
  left:486px;
  top:421px;
  width:384px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u23233 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
