body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:358px;
}
#u24448 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:358px;
}
#u24449 {
  position:absolute;
  left:2px;
  top:171px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
