body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:304px;
}
#u26086 {
  position:absolute;
  left:135px;
  top:112px;
  width:440px;
  height:304px;
}
#u26087 {
  position:absolute;
  left:2px;
  top:144px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
