body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u24728 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u24729 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:115px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u24730 {
  position:absolute;
  left:621px;
  top:414px;
  width:145px;
  height:115px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u24731 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u24732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24732 {
  position:absolute;
  left:100px;
  top:103px;
  width:109px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24733 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u24734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u24734 {
  position:absolute;
  left:134px;
  top:153px;
  width:415px;
  height:112px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u24735 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u24736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24736 {
  position:absolute;
  left:500px;
  top:366px;
  width:109px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24737 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u24738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24738 {
  position:absolute;
  left:500px;
  top:401px;
  width:125px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24739 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u24740 {
  position:absolute;
  left:823px;
  top:183px;
  width:620px;
  height:278px;
}
#u24741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u24741 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  color:#FFFFFF;
}
#u24742 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u24743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u24743 {
  position:absolute;
  left:360px;
  top:0px;
  width:255px;
  height:30px;
  color:#FFFFFF;
}
#u24744 {
  position:absolute;
  left:2px;
  top:8px;
  width:251px;
  word-wrap:break-word;
}
#u24745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:69px;
}
#u24745 {
  position:absolute;
  left:0px;
  top:30px;
  width:360px;
  height:69px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24746 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u24747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:69px;
}
#u24747 {
  position:absolute;
  left:360px;
  top:30px;
  width:255px;
  height:69px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24748 {
  position:absolute;
  left:2px;
  top:28px;
  width:251px;
  word-wrap:break-word;
}
#u24749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u24749 {
  position:absolute;
  left:0px;
  top:99px;
  width:360px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24750 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u24751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:56px;
}
#u24751 {
  position:absolute;
  left:360px;
  top:99px;
  width:255px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24752 {
  position:absolute;
  left:2px;
  top:22px;
  width:251px;
  word-wrap:break-word;
}
#u24753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
}
#u24753 {
  position:absolute;
  left:0px;
  top:155px;
  width:360px;
  height:59px;
}
#u24754 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  word-wrap:break-word;
}
#u24755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:59px;
}
#u24755 {
  position:absolute;
  left:360px;
  top:155px;
  width:255px;
  height:59px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24756 {
  position:absolute;
  left:2px;
  top:23px;
  width:251px;
  word-wrap:break-word;
}
#u24757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
}
#u24757 {
  position:absolute;
  left:0px;
  top:214px;
  width:360px;
  height:59px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24758 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u24759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:59px;
}
#u24759 {
  position:absolute;
  left:360px;
  top:214px;
  width:255px;
  height:59px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24760 {
  position:absolute;
  left:2px;
  top:23px;
  width:251px;
  word-wrap:break-word;
}
#u24761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24761 {
  position:absolute;
  left:832px;
  top:488px;
  width:85px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24762 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
