body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:636px;
}
#u976 {
  position:absolute;
  left:632px;
  top:75px;
  width:458px;
  height:636px;
}
#u977 {
  position:absolute;
  left:2px;
  top:310px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:20px;
  top:50px;
  width:576px;
  height:782px;
}
#u980 {
  position:absolute;
  left:2px;
  top:383px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:180px;
  top:111px;
  width:257px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:21px;
}
#u983 {
  position:absolute;
  left:155px;
  top:154px;
  width:307px;
  height:21px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u985 {
  position:absolute;
  left:108px;
  top:226px;
  width:127px;
  height:280px;
  line-height:20px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u987 {
  position:absolute;
  left:236px;
  top:226px;
  width:283px;
  height:300px;
  line-height:20px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:103px;
}
#u989 {
  position:absolute;
  left:108px;
  top:574px;
  width:401px;
  height:103px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:108px;
  top:550px;
  width:43px;
  height:14px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u993 {
  position:absolute;
  left:399px;
  top:739px;
  width:148px;
  height:43px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u995 {
  position:absolute;
  left:410px;
  top:697px;
  width:114px;
  height:114px;
}
#u996 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:593px;
}
#u997 {
  position:absolute;
  left:1095px;
  top:118px;
  width:396px;
  height:593px;
}
#u998 {
  position:absolute;
  left:2px;
  top:288px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:593px;
}
#u999 {
  position:absolute;
  left:1506px;
  top:118px;
  width:433px;
  height:593px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:288px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
