body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:696px;
}
#u24809 {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:696px;
}
#u24810 {
  position:absolute;
  left:2px;
  top:340px;
  width:1422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24811 {
  position:absolute;
  left:547px;
  top:64px;
  width:180px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
