body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:600px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19907 {
  position:absolute;
  left:0px;
  top:70px;
  width:1440px;
  height:600px;
}
#u19908 {
  position:absolute;
  left:2px;
  top:292px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u19909 {
  position:absolute;
  left:1118px;
  top:484px;
  width:185px;
  height:82px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u19910 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u19911 {
  position:fixed;
  left:0px;
  top:0px;
}
#u19911_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19911_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19913 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u19914 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19915 {
  position:absolute;
  left:100px;
  top:21px;
  width:118px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19916 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u19917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19918 {
  position:absolute;
  left:1124px;
  top:26px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19919 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u19920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19920 {
  position:absolute;
  left:1100px;
  top:24px;
  width:24px;
  height:24px;
}
#u19921 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19922 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u19923 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19925 {
  position:absolute;
  left:531px;
  top:26px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19925.mouseOver {
}
#u19925_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19925.selected {
}
#u19926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19927 {
  position:absolute;
  left:663px;
  top:26px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19927_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19927.mouseOver {
}
#u19927_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19927.selected {
}
#u19928 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19929 {
  position:absolute;
  left:795px;
  top:26px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19929_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19929.mouseOver {
}
#u19929_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19929.selected {
}
#u19930 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19931 {
  position:absolute;
  left:927px;
  top:26px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19931_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19931.mouseOver {
}
#u19931_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19931.selected {
}
#u19932 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19933 {
  position:absolute;
  left:422px;
  top:26px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19933_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19933.mouseOver {
}
#u19933_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19933.selected {
}
#u19934 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19935 {
  position:absolute;
  left:317px;
  top:26px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19935_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19935.mouseOver {
}
#u19935_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19935.selected {
}
#u19936 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19937 {
  position:absolute;
  left:506px;
  top:52px;
  visibility:hidden;
}
#u19937_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19937_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19938_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:140px;
}
#u19938 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:130px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19939 {
  position:absolute;
  left:2px;
  top:55px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19940 {
  position:absolute;
  left:16px;
  top:23px;
  width:85px;
  height:14px;
}
#u19940_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19940.mouseOver {
}
#u19941 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19942 {
  position:absolute;
  left:30px;
  top:61px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19942_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19942.mouseOver {
}
#u19943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19944 {
  position:absolute;
  left:16px;
  top:99px;
  width:85px;
  height:14px;
}
#u19944_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19944.mouseOver {
}
#u19945 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u19946 {
  position:absolute;
  left:595px;
  top:23px;
  width:18px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19947 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u19948 {
  position:absolute;
  left:1185px;
  top:14px;
  width:118px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19948_img.mouseDown {
}
#u19948.mouseDown {
}
#u19949 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u19950 {
  position:absolute;
  left:381px;
  top:52px;
  visibility:hidden;
}
#u19950_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19950_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19951_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:108px;
}
#u19951 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:98px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19952 {
  position:absolute;
  left:2px;
  top:39px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19953 {
  position:absolute;
  left:15px;
  top:23px;
  width:85px;
  height:14px;
}
#u19953_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19953.mouseOver {
}
#u19954 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19955 {
  position:absolute;
  left:30px;
  top:61px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19955.mouseOver {
}
#u19956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u19957 {
  position:absolute;
  left:456px;
  top:23px;
  width:18px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19958 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u19959 {
  position:absolute;
  left:442px;
  top:230px;
  width:66px;
  height:66px;
}
#u19960 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19963 {
  position:absolute;
  left:543px;
  top:411px;
  width:355px;
  height:45px;
  font-size:20px;
}
#u19964 {
  position:absolute;
  left:2px;
  top:14px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19965 {
  position:absolute;
  left:551px;
  top:416px;
  width:340px;
  height:35px;
}
#u19965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
}
#u19966 {
  position:absolute;
  left:543px;
  top:480px;
  width:355px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19966_img.mouseDown {
}
#u19966.mouseDown {
}
#u19967 {
  position:absolute;
  left:2px;
  top:16px;
  width:351px;
  word-wrap:break-word;
}
#u19968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u19968 {
  position:absolute;
  left:688px;
  top:230px;
  width:66px;
  height:66px;
}
#u19969 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u19970 {
  position:absolute;
  left:934px;
  top:230px;
  width:66px;
  height:66px;
}
#u19971 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19973 {
  position:absolute;
  left:443px;
  top:312px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19973_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19973.mouseOver {
}
#u19973_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19973.selected {
}
#u19974 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19975 {
  position:absolute;
  left:665px;
  top:312px;
  width:113px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19975_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19975.mouseOver {
}
#u19975_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19975.selected {
}
#u19976 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19977 {
  position:absolute;
  left:927px;
  top:312px;
  width:81px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19977_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19977.mouseOver {
}
#u19977_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19977.selected {
}
#u19978 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:300px;
  background:inherit;
  background-color:rgba(36, 40, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19980 {
  position:absolute;
  left:0px;
  top:670px;
  width:1440px;
  height:300px;
}
#u19981 {
  position:absolute;
  left:2px;
  top:142px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u19982 {
  position:absolute;
  left:610px;
  top:705px;
  width:65px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u19983 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u19984 {
  position:absolute;
  left:610px;
  top:737px;
  width:277px;
  height:48px;
  line-height:16px;
}
#u19985 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u19986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u19986 {
  position:absolute;
  left:113px;
  top:915px;
  width:864px;
  height:16px;
  color:#D7D7D7;
}
#u19987 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  white-space:nowrap;
}
#u19988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u19989 {
  position:absolute;
  left:113px;
  top:705px;
  width:65px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u19990 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19991 {
  position:absolute;
  left:113px;
  top:737px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19991_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19991.mouseOver {
}
#u19992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19993 {
  position:absolute;
  left:113px;
  top:766px;
  width:85px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19993_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19993.mouseOver {
}
#u19994 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19995 {
  position:absolute;
  left:113px;
  top:795px;
  width:85px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19995_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19995.mouseOver {
}
#u19996 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19997 {
  position:absolute;
  left:113px;
  top:852px;
  width:113px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19997_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19997.mouseOver {
}
#u19998 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19999 {
  position:absolute;
  left:113px;
  top:823px;
  width:99px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19999_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u19999.mouseOver {
}
#u20000 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u20001 {
  position:absolute;
  left:1154px;
  top:705px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u20002 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u20003 {
  position:absolute;
  left:1131px;
  top:819px;
  width:113px;
  height:14px;
  color:#D7D7D7;
}
#u20004 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u20005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u20005 {
  position:absolute;
  left:1148px;
  top:731px;
  width:78px;
  height:78px;
}
#u20006 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u20008 {
  position:absolute;
  left:365px;
  top:705px;
  width:65px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u20009 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20010 {
  position:absolute;
  left:365px;
  top:737px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20010_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20010.mouseOver {
}
#u20011 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20012 {
  position:absolute;
  left:365px;
  top:766px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20012_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20012.mouseOver {
}
#u20013 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20014 {
  position:absolute;
  left:365px;
  top:795px;
  width:43px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20014_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20014.mouseOver {
}
#u20015 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20016 {
  position:absolute;
  left:365px;
  top:822px;
  width:99px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20016_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#CCCCCC;
  line-height:16px;
}
#u20016.mouseOver {
}
#u20017 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20018 {
  position:fixed;
  left:1146px;
  top:431px;
}
#u20018_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20018_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20020 {
  position:absolute;
  left:213px;
  top:25px;
  width:60px;
  height:60px;
}
#u20021 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u20022 {
  position:absolute;
  left:221px;
  top:33px;
  width:44px;
  height:44px;
}
#u20023 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20024 {
  position:absolute;
  left:213px;
  top:25px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20026_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:120px;
  height:124px;
}
#u20026 {
  position:absolute;
  left:95px;
  top:-2px;
  width:110px;
  height:114px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u20027 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u20028 {
  position:absolute;
  left:102px;
  top:10px;
  width:90px;
  height:90px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20030 {
  position:absolute;
  left:213px;
  top:87px;
  width:60px;
  height:60px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u20032 {
  position:absolute;
  left:221px;
  top:95px;
  width:44px;
  height:44px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20035 {
  position:absolute;
  left:0px;
  top:62px;
  width:203px;
  height:111px;
}
#u20036 {
  position:absolute;
  left:2px;
  top:48px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u20038 {
  position:absolute;
  left:77px;
  top:82px;
  width:110px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20038_img.mouseDown {
}
#u20038.mouseDown {
}
#u20039 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u20040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20040 {
  position:absolute;
  left:88px;
  top:87px;
  width:24px;
  height:24px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20042 {
  position:absolute;
  left:10px;
  top:91px;
  width:57px;
  height:18px;
  font-size:16px;
}
#u20043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20044 {
  position:absolute;
  left:10px;
  top:136px;
  width:174px;
  height:17px;
}
#u20045 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u20046 {
  position:absolute;
  left:213px;
  top:87px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20047 {
  position:absolute;
  left:213px;
  top:149px;
  width:60px;
  height:60px;
}
#u20048 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u20049 {
  position:absolute;
  left:221px;
  top:167px;
  width:44px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u20050 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20051 {
  position:absolute;
  left:213px;
  top:149px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20052 {
  position:absolute;
  left:425px;
  top:230px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20053 {
  position:absolute;
  left:671px;
  top:230px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20054 {
  position:absolute;
  left:917px;
  top:230px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
