body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:555px;
}
#u17929 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:555px;
}
#u17930 {
  position:absolute;
  left:2px;
  top:270px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u17932 {
  position:absolute;
  left:759px;
  top:338px;
  width:28px;
  height:28px;
}
#u17933 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17934 {
  position:absolute;
  left:765px;
  top:344px;
  width:15px;
  height:15px;
}
#u17935 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
