body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:670px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24931 {
  position:absolute;
  left:69px;
  top:374px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24932 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24933 {
  position:absolute;
  left:253px;
  top:374px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24934 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24935 {
  position:absolute;
  left:433px;
  top:374px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24936 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24937 {
  position:absolute;
  left:253px;
  top:230px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24938 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:393px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24939 {
  position:absolute;
  left:631px;
  top:60px;
  width:70px;
  height:393px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24940 {
  position:absolute;
  left:2px;
  top:190px;
  width:66px;
  word-wrap:break-word;
}
#u24941 {
  position:absolute;
  left:169px;
  top:404px;
  width:0px;
  height:0px;
}
#u24941_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u24941_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24942 {
  position:absolute;
  left:-8px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24943 {
  position:absolute;
  left:353px;
  top:404px;
  width:0px;
  height:0px;
}
#u24943_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u24943_seg1 {
  position:absolute;
  left:66px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24944 {
  position:absolute;
  left:-10px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24945 {
  position:absolute;
  left:253px;
  top:260px;
  width:0px;
  height:0px;
}
#u24945_seg0 {
  position:absolute;
  left:-138px;
  top:-4px;
  width:138px;
  height:8px;
}
#u24945_seg1 {
  position:absolute;
  left:-138px;
  top:-4px;
  width:8px;
  height:118px;
}
#u24945_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24945_seg3 {
  position:absolute;
  left:-144px;
  top:100px;
  width:20px;
  height:21px;
}
#u24946 {
  position:absolute;
  left:-174px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24947 {
  position:absolute;
  left:303px;
  top:290px;
  width:0px;
  height:0px;
}
#u24947_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u24947_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u24947_seg2 {
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:21px;
}
#u24948 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u24949 {
  position:absolute;
  left:353px;
  top:260px;
  width:0px;
  height:0px;
}
#u24949_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u24949_seg1 {
  position:absolute;
  left:126px;
  top:-4px;
  width:8px;
  height:118px;
}
#u24949_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24949_seg3 {
  position:absolute;
  left:120px;
  top:100px;
  width:20px;
  height:21px;
}
#u24950 {
  position:absolute;
  left:72px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24951 {
  position:absolute;
  left:69px;
  top:90px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24952 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24953 {
  position:absolute;
  left:253px;
  top:90px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24954 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24955 {
  position:absolute;
  left:433px;
  top:90px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24956 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24957 {
  position:absolute;
  left:119px;
  top:150px;
  width:0px;
  height:0px;
}
#u24957_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u24957_seg1 {
  position:absolute;
  left:-4px;
  top:43px;
  width:192px;
  height:8px;
}
#u24957_seg2 {
  position:absolute;
  left:180px;
  top:43px;
  width:8px;
  height:37px;
}
#u24957_seg3 {
  position:absolute;
  left:174px;
  top:66px;
  width:20px;
  height:21px;
}
#u24958 {
  position:absolute;
  left:35px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24959 {
  position:absolute;
  left:303px;
  top:150px;
  width:0px;
  height:0px;
}
#u24959_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u24959_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:21px;
}
#u24960 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24961 {
  position:absolute;
  left:483px;
  top:150px;
  width:0px;
  height:0px;
}
#u24961_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u24961_seg1 {
  position:absolute;
  left:-184px;
  top:41px;
  width:188px;
  height:8px;
}
#u24961_seg2 {
  position:absolute;
  left:-184px;
  top:41px;
  width:8px;
  height:39px;
}
#u24961_seg3 {
  position:absolute;
  left:-190px;
  top:66px;
  width:20px;
  height:21px;
}
#u24962 {
  position:absolute;
  left:-135px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:393px;
}
#u24963 {
  position:absolute;
  left:31px;
  top:60px;
  width:538px;
  height:393px;
}
#u24964 {
  position:absolute;
  left:2px;
  top:188px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u24965 {
  position:absolute;
  left:581px;
  top:247px;
  width:35px;
  height:20px;
}
#u24966 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
