body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:342px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:115px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:1118px;
  top:483px;
  width:145px;
  height:115px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:220px;
  top:100px;
  width:1000px;
  height:500px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:242px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:396px;
}
#u1046 {
  position:absolute;
  left:390px;
  top:152px;
  width:660px;
  height:396px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:190px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1048 {
  position:absolute;
  left:260px;
  top:141px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1049 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1050 {
  position:absolute;
  left:286px;
  top:144px;
  width:37px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1052 {
  position:absolute;
  left:255px;
  top:135px;
  width:79px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
