body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21975 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u21976 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u21977 {
  position:absolute;
  left:366px;
  top:337px;
  width:700px;
  height:60px;
}
#u21978 {
  position:absolute;
  left:2px;
  top:22px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21979 {
  position:absolute;
  left:394px;
  top:358px;
  width:169px;
  height:18px;
  font-size:16px;
}
#u21980 {
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u21979_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21981 {
  position:absolute;
  left:975px;
  top:357px;
  width:51px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21982 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u21983 {
  position:absolute;
  left:543px;
  top:529px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21983_img.mouseDown {
}
#u21983.mouseDown {
}
#u21984 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  word-wrap:break-word;
}
#u21985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:619px;
}
#u21985 {
  position:absolute;
  left:108px;
  top:185px;
  width:1225px;
  height:619px;
}
#u21986 {
  position:absolute;
  left:2px;
  top:302px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21987 {
  position:absolute;
  left:666px;
  top:670px;
  width:120px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21989 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21990 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21991 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21992 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21993 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21994 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21995 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21996 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21997 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21998 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22000 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u22001 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22002 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22003 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22004 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u22005 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22007 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22008 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22009 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u22010 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
