body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22434 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u22435 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u22436 {
  position:absolute;
  left:366px;
  top:337px;
  width:700px;
  height:60px;
}
#u22437 {
  position:absolute;
  left:2px;
  top:22px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22438 {
  position:absolute;
  left:394px;
  top:358px;
  width:169px;
  height:18px;
  font-size:16px;
}
#u22439 {
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u22438_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u22440 {
  position:absolute;
  left:975px;
  top:357px;
  width:51px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u22441 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u22442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u22442 {
  position:absolute;
  left:543px;
  top:529px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22442_img.mouseDown {
}
#u22442.mouseDown {
}
#u22443 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  word-wrap:break-word;
}
#u22444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:619px;
}
#u22444 {
  position:absolute;
  left:108px;
  top:185px;
  width:1225px;
  height:619px;
}
#u22445 {
  position:absolute;
  left:2px;
  top:302px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22446 {
  position:absolute;
  left:666px;
  top:670px;
  width:120px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22448 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22449 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22450 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22451 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22452 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22453 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22454 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22455 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22456 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22457 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22459 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u22460 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22461 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22462 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22463 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u22464 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22466 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22467 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22468 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u22469 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
