body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24307 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u24308 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24309 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u24310 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u24312 {
  position:absolute;
  left:40px;
  top:15px;
  width:44px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u24313 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24314 {
  position:absolute;
  left:71px;
  top:26px;
  width:37px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24315 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:813px;
}
#u24316 {
  position:absolute;
  left:170px;
  top:110px;
  width:1100px;
  height:813px;
}
#u24317 {
  position:absolute;
  left:2px;
  top:398px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
