body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u5840 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u5841 {
  position:absolute;
  left:2px;
  top:342px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:115px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u5842 {
  position:absolute;
  left:1118px;
  top:483px;
  width:145px;
  height:115px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5844 {
  position:absolute;
  left:220px;
  top:100px;
  width:1000px;
  height:500px;
}
#u5845 {
  position:absolute;
  left:2px;
  top:242px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:480px;
}
#u5847 {
  position:absolute;
  left:231px;
  top:110px;
  width:514px;
  height:480px;
}
#u5848 {
  position:absolute;
  left:2px;
  top:232px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:55px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u5849 {
  position:absolute;
  left:605px;
  top:477px;
  width:70px;
  height:55px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u5850 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u5851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8B9CAC;
}
#u5851 {
  position:absolute;
  left:304px;
  top:144px;
  width:91px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8B9CAC;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8B9CAC;
}
#u5853 {
  position:absolute;
  left:629px;
  top:144px;
  width:38px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#8B9CAC;
}
#u5854 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5855 {
  position:absolute;
  left:826px;
  top:242px;
  width:253px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5856 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u5857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#1E1E1E;
}
#u5857 {
  position:absolute;
  left:826px;
  top:325px;
  width:184px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#1E1E1E;
}
#u5858 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u5859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u5859 {
  position:absolute;
  left:985px;
  top:396px;
  width:172px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5859_img.mouseDown {
}
#u5859.mouseDown {
}
#u5860 {
  position:absolute;
  left:2px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u5861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u5861 {
  position:absolute;
  left:803px;
  top:396px;
  width:172px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u5861_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u5861.mouseDown {
}
#u5862 {
  position:absolute;
  left:2px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u5863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5863 {
  position:absolute;
  left:1484px;
  top:380px;
  width:191px;
  height:16px;
}
#u5864 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u5865 {
  position:absolute;
  left:1484px;
  top:388px;
  width:0px;
  height:0px;
}
#u5865_seg0 {
  position:absolute;
  left:-599px;
  top:-4px;
  width:599px;
  height:8px;
}
#u5865_seg1 {
  position:absolute;
  left:-599px;
  top:-4px;
  width:8px;
  height:12px;
}
#u5865_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5865_seg3 {
  position:absolute;
  left:-605px;
  top:-5px;
  width:20px;
  height:20px;
}
#u5866 {
  position:absolute;
  left:-352px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
