body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:797px;
}
#u17936 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:797px;
}
#u17937 {
  position:absolute;
  left:2px;
  top:390px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:76px;
}
#u17938 {
  position:absolute;
  left:395px;
  top:652px;
  width:208px;
  height:76px;
}
#u17939 {
  position:absolute;
  left:2px;
  top:30px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u17940 {
  position:absolute;
  left:395px;
  top:666px;
  width:97px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17940_img.mouseDown {
}
#u17940.mouseDown {
}
#u17941 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u17942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u17942 {
  position:absolute;
  left:509px;
  top:666px;
  width:97px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u17942_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u17942.mouseDown {
}
#u17943 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u17944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u17945 {
  position:absolute;
  left:543px;
  top:666px;
  width:28px;
  height:28px;
}
#u17946 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17947 {
  position:absolute;
  left:550px;
  top:672px;
  width:15px;
  height:15px;
}
#u17948 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
