body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u22797 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:700px;
}
#u22798 {
  position:absolute;
  left:2px;
  top:342px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22799 {
  position:absolute;
  left:164px;
  top:272px;
  width:130px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
