body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1258px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22011 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1258px;
}
#u22012 {
  position:absolute;
  left:2px;
  top:621px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:996px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22013 {
  position:absolute;
  left:220px;
  top:207px;
  width:1000px;
  height:996px;
}
#u22014 {
  position:absolute;
  left:2px;
  top:490px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22016 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22017 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22018 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22019 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22020 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22021 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22022 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22023 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u22024 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22025 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u22026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22026 {
  position:absolute;
  left:325px;
  top:602px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u22028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u22029 {
  position:absolute;
  left:323px;
  top:648px;
  width:300px;
  height:120px;
}
#u22030 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22031 {
  position:absolute;
  left:350px;
  top:676px;
  width:102px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22032 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u22033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22033 {
  position:absolute;
  left:569px;
  top:738px;
  width:29px;
  height:14px;
}
#u22034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u22035 {
  position:absolute;
  left:271px;
  top:813px;
  width:899px;
  height:1px;
}
#u22036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22037 {
  position:absolute;
  left:323px;
  top:845px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22038 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u22039 {
  position:absolute;
  left:543px;
  top:1120px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22039_img.mouseDown {
}
#u22039.mouseDown {
}
#u22040 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  word-wrap:break-word;
}
#u22041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22042 {
  position:absolute;
  left:490px;
  top:599px;
  width:22px;
  height:22px;
}
#u22043 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:45px;
}
#u22044 {
  position:absolute;
  left:465px;
  top:621px;
  width:179px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22045 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u22047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22047 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u22048 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22049 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22050 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22051 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u22052 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22054 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22055 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22056 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u22057 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22060 {
  position:absolute;
  left:406px;
  top:897px;
  width:355px;
  height:40px;
  font-size:20px;
}
#u22061 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22062 {
  position:absolute;
  left:414px;
  top:901px;
  width:340px;
  height:31px;
}
#u22062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22065 {
  position:absolute;
  left:406px;
  top:947px;
  width:355px;
  height:40px;
  font-size:20px;
}
#u22066 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22067 {
  position:absolute;
  left:414px;
  top:951px;
  width:340px;
  height:31px;
}
#u22067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22068 {
  position:absolute;
  left:353px;
  top:908px;
  width:43px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22069 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22070 {
  position:absolute;
  left:325px;
  top:960px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22071 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22074 {
  position:absolute;
  left:406px;
  top:997px;
  width:355px;
  height:40px;
  font-size:20px;
}
#u22075 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22076 {
  position:absolute;
  left:414px;
  top:1001px;
  width:340px;
  height:31px;
}
#u22076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22077 {
  position:absolute;
  left:339px;
  top:1010px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22080 {
  position:absolute;
  left:400px;
  top:843px;
  width:22px;
  height:22px;
}
#u22081 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:45px;
}
#u22082 {
  position:absolute;
  left:375px;
  top:865px;
  width:179px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22083 {
  position:absolute;
  left:2px;
  top:19px;
  width:175px;
  word-wrap:break-word;
}
#u22084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22084 {
  position:absolute;
  left:323px;
  top:378px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22085 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u22088 {
  position:absolute;
  left:323px;
  top:411px;
  width:794px;
  height:149px;
  font-size:20px;
}
#u22089 {
  position:absolute;
  left:2px;
  top:66px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u22090 {
  position:absolute;
  left:353px;
  top:427px;
  width:726px;
  height:119px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BFCDDA;
}
#u22091 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22092 {
  position:absolute;
  left:345px;
  top:420px;
  width:749px;
  height:131px;
}
#u22092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:131px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22093 {
  position:absolute;
  left:988px;
  top:531px;
  width:45px;
  height:16px;
}
#u22094 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22095 {
  position:absolute;
  left:323px;
  top:252px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22096 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22097 {
  position:absolute;
  left:323px;
  top:285px;
  width:150px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22098 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22099 {
  position:absolute;
  left:495px;
  top:285px;
  width:150px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22100 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22101 {
  position:absolute;
  left:667px;
  top:285px;
  width:150px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22102 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22103 {
  position:absolute;
  left:839px;
  top:285px;
  width:150px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22104 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
