body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:674px;
}
#u20796 {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:674px;
}
#u20797 {
  position:absolute;
  left:2px;
  top:329px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20798 {
  position:absolute;
  left:1041px;
  top:417px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20799 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u20800 {
  position:absolute;
  left:967px;
  top:410px;
  width:67px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u20801 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u20802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20802 {
  position:absolute;
  left:131px;
  top:451px;
  width:1156px;
  height:223px;
}
#u20803 {
  position:absolute;
  left:2px;
  top:104px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20804 {
  position:absolute;
  left:1116px;
  top:418px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20805 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u20806 {
  position:absolute;
  left:922px;
  top:170px;
  width:80px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20807 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u20808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u20808 {
  position:absolute;
  left:578px;
  top:168px;
  width:83px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u20809 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u20810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u20810 {
  position:absolute;
  left:967px;
  top:362px;
  width:67px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u20811 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u20812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20812 {
  position:absolute;
  left:1041px;
  top:373px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20813 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20814 {
  position:absolute;
  left:1037px;
  top:363px;
  width:72px;
  height:37px;
}
#u20815 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20816 {
  position:absolute;
  left:1116px;
  top:374px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
}
#u20817 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20818 {
  position:absolute;
  left:1113px;
  top:363px;
  width:72px;
  height:37px;
}
#u20819 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(227, 245, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20820 {
  position:absolute;
  left:28px;
  top:316px;
  width:226px;
  height:45px;
}
#u20821 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20822 {
  position:absolute;
  left:103px;
  top:330px;
  width:57px;
  height:14px;
}
#u20823 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20824 {
  position:absolute;
  left:28px;
  top:359px;
  width:226px;
  height:45px;
}
#u20825 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20826 {
  position:absolute;
  left:28px;
  top:403px;
  width:226px;
  height:45px;
}
#u20827 {
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20828 {
  position:absolute;
  left:103px;
  top:371px;
  width:57px;
  height:16px;
}
#u20829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20830 {
  position:absolute;
  left:103px;
  top:417px;
  width:57px;
  height:16px;
}
#u20831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
