body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:738px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21678 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:738px;
}
#u21679 {
  position:absolute;
  left:2px;
  top:361px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21680 {
  position:absolute;
  left:370px;
  top:206px;
  width:700px;
  height:400px;
}
#u21681 {
  position:absolute;
  left:2px;
  top:192px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
}
#u21682 {
  position:absolute;
  left:578px;
  top:513px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
}
#u21682_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#8B9CAC;
}
#u21682.mouseDown {
}
#u21683 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u21684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u21684 {
  position:absolute;
  left:697px;
  top:513px;
  width:165px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21684_img.mouseDown {
}
#u21684.mouseDown {
}
#u21685 {
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u21686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u21686 {
  position:absolute;
  left:486px;
  top:242px;
  width:469px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u21687 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u21688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u21688 {
  position:absolute;
  left:486px;
  top:412px;
  width:276px;
  height:54px;
  line-height:18px;
}
#u21689 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u21690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u21690 {
  position:absolute;
  left:539px;
  top:301px;
  width:89px;
  height:89px;
}
#u21691 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u21692 {
  position:absolute;
  left:657px;
  top:323px;
  width:67px;
  height:20px;
  color:#7E8E9D;
}
#u21693 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u21694 {
  position:absolute;
  left:657px;
  top:353px;
  width:67px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#7E8E9D;
}
#u21695 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:88px;
}
#u21696 {
  position:absolute;
  left:743px;
  top:301px;
  width:212px;
  height:88px;
}
#u21697 {
  position:absolute;
  left:2px;
  top:36px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21699 {
  position:absolute;
  left:323px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21700 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21701 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21702 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21703 {
  position:absolute;
  left:634px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21704 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21705 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21706 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u21707 {
  position:absolute;
  left:946px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21708 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u21710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21710 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u21711 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21712 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21713 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u21714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21714 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u21715 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21717 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21718 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u21719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21719 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u21720 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21721 {
  position:absolute;
  left:1503px;
  top:213px;
  width:365px;
  height:14px;
}
#u21722 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
