body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24698 {
  position:absolute;
  left:66px;
  top:278px;
  width:1169px;
  height:144px;
}
#u24699 {
  position:absolute;
  left:2px;
  top:64px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24700 {
  position:absolute;
  left:116px;
  top:278px;
  width:50px;
  height:144px;
}
#u24701 {
  position:absolute;
  left:2px;
  top:46px;
  width:46px;
  word-wrap:break-word;
}
#u24702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24702 {
  position:absolute;
  left:66px;
  top:133px;
  width:1169px;
  height:144px;
}
#u24703 {
  position:absolute;
  left:2px;
  top:64px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24704 {
  position:absolute;
  left:327px;
  top:172px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24705 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24706 {
  position:absolute;
  left:327px;
  top:325px;
  width:101px;
  height:51px;
}
#u24707 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24708 {
  position:absolute;
  left:533px;
  top:172px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24709 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24710 {
  position:absolute;
  left:723px;
  top:172px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24711 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24712 {
  position:absolute;
  left:917px;
  top:172px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24713 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24714 {
  position:absolute;
  left:428px;
  top:198px;
  width:0px;
  height:0px;
}
#u24714_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u24714_seg1 {
  position:absolute;
  left:91px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24716 {
  position:absolute;
  left:634px;
  top:198px;
  width:0px;
  height:0px;
}
#u24716_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u24716_seg1 {
  position:absolute;
  left:75px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24717 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24718 {
  position:absolute;
  left:824px;
  top:198px;
  width:0px;
  height:0px;
}
#u24718_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u24718_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24719 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24720 {
  position:absolute;
  left:968px;
  top:172px;
  width:0px;
  height:0px;
}
#u24720_seg0 {
  position:absolute;
  left:-4px;
  top:-30px;
  width:8px;
  height:30px;
}
#u24720_seg1 {
  position:absolute;
  left:-388px;
  top:-30px;
  width:392px;
  height:8px;
}
#u24720_seg2 {
  position:absolute;
  left:-388px;
  top:-30px;
  width:8px;
  height:30px;
}
#u24720_seg3 {
  position:absolute;
  left:-394px;
  top:-14px;
  width:20px;
  height:21px;
}
#u24721 {
  position:absolute;
  left:-242px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24722 {
  position:absolute;
  left:473px;
  top:325px;
  width:101px;
  height:51px;
}
#u24723 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24724 {
  position:absolute;
  left:620px;
  top:325px;
  width:101px;
  height:51px;
}
#u24725 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24726 {
  position:absolute;
  left:766px;
  top:325px;
  width:101px;
  height:51px;
}
#u24727 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24728 {
  position:absolute;
  left:913px;
  top:325px;
  width:101px;
  height:51px;
}
#u24729 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24730 {
  position:absolute;
  left:1059px;
  top:325px;
  width:101px;
  height:51px;
}
#u24731 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:289px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24732 {
  position:absolute;
  left:66px;
  top:133px;
  width:50px;
  height:289px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24733 {
  position:absolute;
  left:2px;
  top:128px;
  width:46px;
  word-wrap:break-word;
}
#u24734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24734 {
  position:absolute;
  left:116px;
  top:133px;
  width:50px;
  height:144px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24735 {
  position:absolute;
  left:2px;
  top:46px;
  width:46px;
  word-wrap:break-word;
}
#u24736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:268px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24736 {
  position:absolute;
  left:66px;
  top:676px;
  width:1169px;
  height:268px;
}
#u24737 {
  position:absolute;
  left:2px;
  top:126px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:268px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24738 {
  position:absolute;
  left:66px;
  top:676px;
  width:50px;
  height:268px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24739 {
  position:absolute;
  left:2px;
  top:118px;
  width:46px;
  word-wrap:break-word;
}
#u24740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24740 {
  position:absolute;
  left:473px;
  top:740px;
  width:101px;
  height:51px;
}
#u24741 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24742 {
  position:absolute;
  left:428px;
  top:351px;
  width:0px;
  height:0px;
}
#u24742_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24742_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24743 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24744 {
  position:absolute;
  left:574px;
  top:351px;
  width:0px;
  height:0px;
}
#u24744_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u24744_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24745 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24746 {
  position:absolute;
  left:721px;
  top:351px;
  width:0px;
  height:0px;
}
#u24746_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24746_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24747 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24748 {
  position:absolute;
  left:867px;
  top:351px;
  width:0px;
  height:0px;
}
#u24748_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u24748_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24749 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24750 {
  position:absolute;
  left:1014px;
  top:351px;
  width:0px;
  height:0px;
}
#u24750_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24750_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24751 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24752 {
  position:absolute;
  left:176px;
  top:172px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24753 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24754 {
  position:absolute;
  left:176px;
  top:325px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24755 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24756 {
  position:absolute;
  left:277px;
  top:198px;
  width:0px;
  height:0px;
}
#u24756_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u24756_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24757 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24758 {
  position:absolute;
  left:277px;
  top:351px;
  width:0px;
  height:0px;
}
#u24758_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u24758_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24759 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:252px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24760 {
  position:absolute;
  left:66px;
  top:423px;
  width:1169px;
  height:252px;
}
#u24761 {
  position:absolute;
  left:2px;
  top:118px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:252px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24762 {
  position:absolute;
  left:66px;
  top:423px;
  width:50px;
  height:252px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24763 {
  position:absolute;
  left:2px;
  top:94px;
  width:46px;
  word-wrap:break-word;
}
#u24764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24764 {
  position:absolute;
  left:620px;
  top:485px;
  width:101px;
  height:51px;
}
#u24765 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24766 {
  position:absolute;
  left:767px;
  top:485px;
  width:101px;
  height:51px;
}
#u24767 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24768 {
  position:absolute;
  left:913px;
  top:485px;
  width:101px;
  height:51px;
}
#u24769 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24770 {
  position:absolute;
  left:1059px;
  top:485px;
  width:101px;
  height:51px;
}
#u24771 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24772 {
  position:absolute;
  left:1110px;
  top:376px;
  width:0px;
  height:0px;
}
#u24772_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u24772_seg1 {
  position:absolute;
  left:-443px;
  top:90px;
  width:447px;
  height:8px;
}
#u24772_seg2 {
  position:absolute;
  left:-443px;
  top:90px;
  width:8px;
  height:19px;
}
#u24772_seg3 {
  position:absolute;
  left:-449px;
  top:95px;
  width:20px;
  height:21px;
}
#u24773 {
  position:absolute;
  left:-230px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24774 {
  position:absolute;
  left:620px;
  top:602px;
  width:101px;
  height:51px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24775 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24776 {
  position:absolute;
  left:620px;
  top:740px;
  width:101px;
  height:51px;
}
#u24777 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24778 {
  position:absolute;
  left:767px;
  top:740px;
  width:101px;
  height:51px;
}
#u24779 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24780 {
  position:absolute;
  left:913px;
  top:740px;
  width:101px;
  height:51px;
}
#u24781 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24782 {
  position:absolute;
  left:671px;
  top:536px;
  width:0px;
  height:0px;
}
#u24782_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u24782_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:21px;
}
#u24783 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u24784 {
  position:absolute;
  left:721px;
  top:511px;
  width:0px;
  height:0px;
}
#u24784_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u24784_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24785 {
  position:absolute;
  left:-27px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24786 {
  position:absolute;
  left:868px;
  top:511px;
  width:0px;
  height:0px;
}
#u24786_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24786_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24787 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24788 {
  position:absolute;
  left:1014px;
  top:511px;
  width:0px;
  height:0px;
}
#u24788_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24788_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24789 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24790 {
  position:absolute;
  left:620px;
  top:848px;
  width:101px;
  height:51px;
}
#u24791 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u24792 {
  position:absolute;
  left:620px;
  top:628px;
  width:0px;
  height:0px;
}
#u24792_seg0 {
  position:absolute;
  left:-397px;
  top:-4px;
  width:397px;
  height:8px;
}
#u24792_seg1 {
  position:absolute;
  left:-397px;
  top:-252px;
  width:8px;
  height:256px;
}
#u24792_seg2 {
  position:absolute;
  left:-403px;
  top:-259px;
  width:20px;
  height:21px;
}
#u24793 {
  position:absolute;
  left:-372px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u24794 {
  position:absolute;
  left:574px;
  top:766px;
  width:0px;
  height:0px;
}
#u24794_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u24794_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24795 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24796 {
  position:absolute;
  left:721px;
  top:766px;
  width:0px;
  height:0px;
}
#u24796_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u24796_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24797 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24798 {
  position:absolute;
  left:868px;
  top:766px;
  width:0px;
  height:0px;
}
#u24798_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u24798_seg1 {
  position:absolute;
  left:31px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24799 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24800 {
  position:absolute;
  left:671px;
  top:791px;
  width:0px;
  height:0px;
}
#u24800_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u24800_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:21px;
}
#u24801 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24802 {
  position:absolute;
  left:620px;
  top:874px;
  width:0px;
  height:0px;
}
#u24802_seg0 {
  position:absolute;
  left:-25px;
  top:-4px;
  width:25px;
  height:8px;
}
#u24802_seg1 {
  position:absolute;
  left:-25px;
  top:-112px;
  width:8px;
  height:116px;
}
#u24802_seg2 {
  position:absolute;
  left:-25px;
  top:-112px;
  width:25px;
  height:8px;
}
#u24802_seg3 {
  position:absolute;
  left:-14px;
  top:-118px;
  width:21px;
  height:20px;
}
#u24803 {
  position:absolute;
  left:-71px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
}
#u24804 {
  position:absolute;
  left:620px;
  top:628px;
  width:0px;
  height:0px;
}
#u24804_seg0 {
  position:absolute;
  left:-28px;
  top:-4px;
  width:28px;
  height:8px;
}
#u24804_seg1 {
  position:absolute;
  left:-28px;
  top:-121px;
  width:8px;
  height:125px;
}
#u24804_seg2 {
  position:absolute;
  left:-28px;
  top:-121px;
  width:28px;
  height:8px;
}
#u24804_seg3 {
  position:absolute;
  left:-14px;
  top:-127px;
  width:21px;
  height:20px;
}
#u24805 {
  position:absolute;
  left:-74px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
}
