body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24907 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u24908 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u24909 {
  position:absolute;
  left:543px;
  top:485px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24909_img.mouseDown {
}
#u24909.mouseDown {
}
#u24910 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  word-wrap:break-word;
}
#u24911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u24912 {
  position:absolute;
  left:479px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24913 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u24914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u24914 {
  position:absolute;
  left:635px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24915 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u24916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u24916 {
  position:absolute;
  left:790px;
  top:110px;
  width:171px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24917 {
  position:absolute;
  left:2px;
  top:23px;
  width:167px;
  word-wrap:break-word;
}
#u24919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 57, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24919 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u24920 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24921 {
  position:absolute;
  left:100px;
  top:21px;
  width:97px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24922 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24923 {
  position:absolute;
  left:1322px;
  top:21px;
  width:24px;
  height:24px;
}
#u24924 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24926 {
  position:absolute;
  left:1228px;
  top:23px;
  width:51px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24927 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u24928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24928 {
  position:absolute;
  left:1204px;
  top:21px;
  width:24px;
  height:24px;
}
#u24929 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u24930 {
  position:absolute;
  left:642px;
  top:448px;
  width:169px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u24931 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u24932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u24932 {
  position:absolute;
  left:270px;
  top:223px;
  width:900px;
  height:200px;
}
#u24933 {
  position:absolute;
  left:2px;
  top:92px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24934 {
  position:absolute;
  left:451px;
  top:245px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u24935 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:170px;
}
#u24937 {
  position:absolute;
  left:293px;
  top:237px;
  width:130px;
  height:170px;
}
#u24938 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u24939 {
  position:absolute;
  left:374px;
  top:363px;
  width:30px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u24940 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u24941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u24941 {
  position:absolute;
  left:451px;
  top:274px;
  width:489px;
  height:16px;
  line-height:16px;
}
#u24942 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u24943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u24943 {
  position:absolute;
  left:939px;
  top:243px;
  width:1px;
  height:160px;
}
#u24944 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24945 {
  position:absolute;
  left:974px;
  top:315px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24946 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24947 {
  position:absolute;
  left:451px;
  top:344px;
  width:127px;
  height:14px;
}
#u24948 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u24949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u24949 {
  position:absolute;
  left:451px;
  top:378px;
  width:93px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u24950 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u24951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24951 {
  position:absolute;
  left:1043px;
  top:312px;
  width:22px;
  height:22px;
}
#u24952 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24953 {
  position:absolute;
  left:1065px;
  top:312px;
  width:22px;
  height:22px;
}
#u24954 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24955 {
  position:absolute;
  left:1087px;
  top:312px;
  width:22px;
  height:22px;
}
#u24956 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24957 {
  position:absolute;
  left:1109px;
  top:312px;
  width:22px;
  height:22px;
}
#u24958 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24959 {
  position:absolute;
  left:725px;
  top:376px;
  width:204px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u24960 {
  position:absolute;
  left:16px;
  top:0px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24961 {
  position:absolute;
  left:747px;
  top:377px;
  width:183px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24962 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
