body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1436px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:695px;
}
#u21723 {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:695px;
}
#u21724 {
  position:absolute;
  left:2px;
  top:340px;
  width:1432px;
  visibility:hidden;
  word-wrap:break-word;
}
